.button {
    padding: 10px 30px;
    flex-shrink: 0;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}
