.form {
    width: 100%;
}

.inputGroup {
    margin-bottom: var(--spacing-sm);
}

.label {
    display: block;
    margin-bottom: var(--spacing-xs);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    text-align: start;
}

.inputWrapper {
    position: relative;
}

.input {
    width: 100%;
    padding: var(--spacing-sm);
    font-size: var(--font-size-base);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    transition: border-color 0.2s ease;
}

.input:focus {
    border-color: var(--color-primary);
    outline: none;
}

.input.invalid:focus {
    border-color: var(--color-error);
    outline: none;
}

.invalid {
    border-color: var(--color-error);
}

.eyeIcon {
    width: 30px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.errorMessage {
    color: var(--color-error);
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-xs);
    min-height: 1.25rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.errorMessage.visible {
    visibility: visible;
    opacity: 1;
}

.submitButton {
    width: 100%;
    padding: 1rem;
    font-size: var(--font-size-base);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.submitButton:disabled {
    background-color: var(--color-disabled);
    cursor: not-allowed;
}

.tooltip {
    position: relative;
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    margin-left: var(--spacing-xs);
}

.clueIcon {
    width: 25px;
    height: auto;
    cursor: pointer;
}

.tooltipText {
    visibility: hidden;
    width: 200px;
    background-color: var(--color-primary);
    color: var(--color-text);
    text-align: center;
    border-radius: var(--border-radius);
    padding: var(--spacing-sm);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 80%;
    transition: opacity 0.3s;
    font-size: var(--font-size-sm);
    z-index: 1;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}
