.card {
    max-width: 580px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid rgba(53, 184, 190, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.imageContainer {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 18px;
}

.cardName {
    color: #08090a;
    font-size: 18px;
    letter-spacing: 0.6px;
}

.cardPrice {
    max-width: 85px;
    color: #35b8be;
    font-size: 15px;
}

.cardDescription {
    max-width: 350px;
    color: #546285;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    letter-spacing: 0.32px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardActions {
    display: flex;
    gap: 10px;
}

.quantityInput {
    width: 60px;
    background: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    color: #08090a;
}

@media (max-width: 800px) {
    .card {
        padding: 5px;
    }
}
