.form {
    width: 100%;
}

.inputGroup {
    margin-bottom: 1rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: start;
}

.inputWrapper {
    position: relative;
}

.input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    transition: border-color 0.2s ease;
}

.input:focus {
    border-color: #35b8be;
    outline: none;
}

.input.invalid:focus {
    border-color: red;
    outline: none;
}

.invalid {
    border-color: red;
}

.eyeIcon {
    width: 30px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.errorMessage {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.15rem;
    min-height: 1.25rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.errorMessage.visible {
    visibility: visible;
    opacity: 1;
}

.submitButton {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #35b8be;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.tooltip {
    position: relative;
    color: #35b8be;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
}

.clueIcon {
    width: 25px;
    height: auto;
    cursor: pointer;
}

.tooltipText {
    visibility: hidden;
    width: 200px;
    background-color: #35b8be;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 80%;
    transition: opacity 0.3s;
    font-size: 14px;
    line-height: 1.2;
    z-index: 1;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}
