.section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: var(--spacing-lg);
    background-size: cover;
    background-position: center;
    background-color: var(--color-background);
}

[data-theme='light'] .section {
    background-image: url('../assets/backgrounds/home_shape_bg.svg');
}

[data-theme='dark'] .section {
    background-image: none;
}

.contentWrapper {
    display: flex;
    max-width: 1200px;
    width: 100%;
}

.textContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    font-size: 4rem;
    font-weight: var(--font-weight-normal);
    line-height: 1;
    margin-bottom: var(--spacing-md);
    color: var(--color-text);
}

.highlight {
    color: var(--color-text);
}

.accent {
    color: var(--color-primary);
}

.description {
    color: var(--color-secondary);
    font-size: var(--font-size-lg);
    line-height: 1.5;
    margin-bottom: var(--spacing-lg);
}

.buttonContainer {
    margin-bottom: var(--spacing-lg);
}

.reviewSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trustpilotLogo {
    width: 110px;
    height: auto;
    margin-right: var(--spacing-sm);
}

.reviewDetails {
    display: flex;
    font-size: var(--font-size-sm);
}

.rating {
    color: var(--color-primary);
    margin-right: var(--spacing-xs);
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: var(--spacing-lg);
}

.heroImage {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 800px) {
    .imageContainer {
        display: none;
    }
}
