.section {
    flex: 1;
    padding: var(--spacing-xl) var(--spacing-sm);
    background-image: url('src/assets/backgrounds/menu_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-background);
}

[data-theme='light'] .section {
    background-image: url('../assets/backgrounds/menu_bg.svg');
}

[data-theme='dark'] .section {
    background-image: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-lg);
    max-width: 400px;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-background-secondary);
}

.title {
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.register {
    text-align: center;
    margin-top: var(--spacing-sm);
}

.registerLink {
    color: var(--color-primary);
    text-decoration: none;
}

.registerLink:hover {
    text-decoration: underline;
}

.orSeparator {
    display: flex;
    align-items: center;
    margin: var(--spacing-lg) 0;
    width: 100%;
}

.line {
    flex: 1;
    height: 1px;
    background-color: var(--color-border);
}

.orText {
    color: var(--color-secondary);
    margin: 0 var(--spacing-sm);
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--spacing-sm);
    background-color: var(--color-background-secondary);
    color: var(--color-text);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.googleButton:disabled {
    background-color: var(--color-disabled);
    cursor: not-allowed;
}

.googleIcon {
    width: 20px;
    height: 20px;
    margin-right: var(--spacing-xs);
}

.errorMessage {
    color: var(--color-error);
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-xs);
    text-align: center;
    transition: opacity 0.3s ease;
}
