.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 140px 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--color-background);
}

[data-theme='light'] .section {
    background-image: url('../assets/backgrounds/menu_bg.svg');
}

[data-theme='dark'] .section {
    background-image: none;
}

.title {
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

.description {
    width: 50%;
    text-align: center;
    color: var(--color-secondary);
    line-height: 2;
    word-wrap: break-word;
}

.phoneTooltip {
    position: relative;
    color: var(--color-primary);
    cursor: pointer;
}

.tooltipText {
    visibility: hidden;
    width: 160px;
    background-color: var(--color-primary);
    color: var(--color-background);
    text-align: center;
    border-radius: var(--border-radius);
    padding: var(--spacing-xs);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: var(--font-size-sm);
    line-height: 1.2;
    z-index: 1;
}

.phoneTooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

.buttonRow {
    display: flex;
    gap: var(--spacing-md);
    justify-content: center;
    flex-wrap: wrap;
}

.inactiveCategory {
    background-color: var(--color-background-secondary);
    color: var(--color-text);
}

.noItemsMessage {
    color: var(--color-secondary);
    font-size: var(--font-size-base);
    line-height: 1.7;
    text-align: center;
}

@media (max-width: 800px) {
    .section {
        padding: 0;
    }
}

.cardList {
    display: grid;
    gap: var(--spacing-lg);
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: var(--spacing-xl);

    @media (min-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
