.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border: 1px solid rgba(53, 184, 190, 0.15);
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
}

.cartItemImgContainer {
    display: flex;
    align-items: center;
}

.cartItemImage {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
}

.cartItemName {
    color: #08090a;
    font-size: 18px;
    font-weight: 400;
    margin: 0 1rem;
}

.cartItemDetails {
    display: flex;
    justify-content: space-between;
    min-width: 10rem;
}

.cartItemPrice {
    font-size: 1rem;
    color: #35b8be;
}

.cartItemQuantity {
    width: 50px;
    background: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    color: #08090a;
}

.cartItemRemoveButton {
    padding: 0 10px;
}
