.footer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 40px 20px;
  background-color: #F5FBFC;
  background-image: url('src/assets/backgrounds/footer_bg.svg');
  background-repeat: no-repeat;
  background-position: -10% 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}

.logoSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logo {
  width: 40px;
  height: 51px;
}

.footerText {
  color: #546285;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.36px;
  text-align: start;
  margin: 0;
  max-width: 55%;
}

.linksContainer {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.linkColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.linkTitle {
  color: #08090A;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.5px;
}

.link {
  color: #546285;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 28px;
  transition: all 0.2s ease-in;
}

.link:hover {
  color: #35B8BE;
}

.divider {
  width: 100%;
  height: 1px;
  background: rgba(126, 130, 143, 0.09);
  margin: 20px 0 70px 0;
}

.bottomContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.builtWith {
  display: flex;
  gap: 8px;
  color: #353448;
  font-size: 15px;
  line-height: 20px;
}

.highlightedText {
  color: #35B8BE;
}

.socialIcons {
  display: flex;
  gap: 24px;
}

.socialIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(126, 130, 143, 0.3);
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

.socialIcon:hover {
  background-color: rgba(53, 184, 190, 0.47);
  transform: scale(1.1);
}

.iconImage {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.socialIcon:hover .iconImage {
  opacity: 1;
}

@media (max-width: 800px) {
  .mainContent {
    flex-direction: column;
  }

  .logoSection {
    margin-bottom: 20px;
  }

  .linksContainer {
    min-width: 80%;
    margin-bottom: 30px;
  }

  .bottomContent {
    flex-direction: column;
    align-items: start;
  }

  .socialIcons{
    margin-top: 20px;
  }

  .divider {
    margin: 20px 0;
  }

}
